<header class="header @@className">
	<div class="header__content">
		<div class="header__content-left">
			<button class="header__menu-button"></button>
			<a href="">
				
				@@if (className === 'header_inner header_dark') {
					@@include('logo.html', {
						'style': 'white'
					})
				}		
				
				@@if (className === 'header_inner') {
					@@include('logo.html', {
						'style': 'dark'
					})
				}

			</a>
		</div>		
		
		@@include('main-menu.html', {
			'className': 'header__menu'
		})
		
		<div class="header__cta">
			
			<!-- NO WALLETS CONNECTED -->
			<!-- <button class="btn btn_dropdown btn_middle select-button">
				Connect wallets			
				<img src="@img/dropdown-arrow_white.svg" alt="">			
			</button>		 -->

			<!-- ONE WALLET CONNECTED -->
			<!-- <a class="wallet-info-button select-button">
				<div class="wallet-info-button__logo">
					<img class="wallet-info-button__main-logo" src="@img/metamask-logo.png" alt="">
					<img class="wallet-info-button__network-logo" src="@img/tokens-logos/network.png" alt="">
				</div>
				<div class="wallet-info-button__wallet-num">
					<div>
						<span class="wallet-info-button__num">0x07A0...B57F</span>					
					</div>
					<img src="@img/wallet-icon_dark.svg" alt="">
				</div>
			</a> -->

			<!-- MULTIPLE WALLETS CONNECTED -->
			<button class="wallet-info-button wallet-info-button_multiple select-button">
				<div class="wallet-info-button__logo">
					<img class="wallet-info-button__main-logo" src="@img/metamask-logo.png" alt="">
					<img class="wallet-info-button__network-logo" src="@img/tokens-logos/network.png" alt="">
				</div>
				<div class="wallet-info-button__logo">
					<img class="wallet-info-button__main-logo" src="@img/metamask-logo.png" alt="">
					<img class="wallet-info-button__network-logo" src="@img/tokens-logos/network.png" alt="">
				</div>
				<div class="wallet-info-button__logo">
					<img class="wallet-info-button__main-logo" src="@img/metamask-logo.png" alt="">
					<img class="wallet-info-button__network-logo" src="@img/tokens-logos/network.png" alt="">
				</div>
				<img class="wallet-info-button__arrow" src="@img/select-button-arrow_dark.svg" alt="">
			</button>				
			
			@@include('connect-wallets-popup.html', {})
		</div>				
	</div>      	
</header> 