.footer {	
	flex: none;	
	background-color: #142438;
	color: #D9DBE1;
	font-size: 14px;
	padding: 0 3.8vw;
	
	@media (max-width: 768px) {
		display: none;
	}

	&_dark {
		background-color: #000212;
		border-top: 1px solid rgba($color: #fff, $alpha: .2);
	}
	
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 74px;
		position: relative;
	}

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}
	
	&__copyrights {
		font-weight: 700;
		margin-right: 2.5vw;
	}

	&__socials {
		display: flex;
		align-items: center;

		&-item {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #D9DBE1;

			&:first-of-type {
				margin-right: 1.67vw;
			}

			img {
				flex: none;
				width: 16px;
				margin-right: 8px;
			}
		}
	}

	&__privacy-policy {
		text-decoration: none;
		color: #D9DBE1;
		margin-right: 1.82vw;
	}

	&__email {
		a {
			color: #3F87D9;
			text-decoration: none;
		}
	}
}