@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader-dark {
	width: 26px;
	height: 26px;
	background: url('../img/loader-rounded_dark.svg') no-repeat center;
	background-size: contain;
	animation-name: rotate;
	animation: rotate 1.5s linear infinite;
}